input,select,textarea,button {
    background-color: white;
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    padding: 0 6px;
    &:focus {
        box-shadow: 0px 0px 3px 2px lightseagreen;
        outline: none;
    }
}

.form-field {
    margin-bottom: 15px;
    > label {
        display: block;
        color: #6f6f6f;
        padding: 4px 0;
    }
    > input {

    }
    > .error {
        padding: 3px 0;
        font-size: 14px;
        color: red;
    }
}

// buttons

button {
    transition: all 0.2s linear;
    cursor: pointer;
  
    &.primary {
        background-color: lightseagreen;
        color: white;
    }
    &.secondary {
        background-color: white;
        border: 1px solid lightseagreen;
    }
}
