<!-- <form #form="ngForm" [formGroup]="assetForm" style="padding: 100px;" (submit)="submitForm()">
    <div class="form-field">
        <label for="name">Name: </label>
        <input id="first" type="text" formControlName="first"/>
        <div class="error" *ngIf="form.submitted && assetForm.controls.first.errors?.['minlength']">Minimum length is 3</div>
        <div class="error" *ngIf=" form.submitted && assetForm.controls.first.errors?.['required']">Required field</div>    
    
    </div>
    <div class="form-field">
        <label for="last">Select: </label>
        <select id="last" formControlName="last">
            <option>First</option>
            <option>Second</option>
            <option>Third</option>
            <option>Forth</option>
        </select>
        <div class="error" *ngIf="form.submitted && assetForm.controls.last.errors?.['required']">Required field</div>    
    </div>  
    <button type="submit" class="primary">Submit</button>
    <button type="submit" class="secondary">Submit</button>
    <button type="submit">Submit</button>

</form> -->




